body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background-image: url(./student.jpg);
   background-size: cover;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background:  rgba(145, 132, 132, 0.7);;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0c0b0b;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1rem;
    color: #0e0c0c;
}

input, select, button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #63135f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8f5094;
}

.result {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #000000;
}
